body {
	font: 13px Arial;
	background: #C6C6C6;
	box-sizing: border-box;
}

.serverPW{
	background: #eee;
	width: 35%;
	height: 45%;
	font: 18px Arial;
	font-color: black;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	display: none;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
	border-radius: 9px;
}

#serverPwButton {
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    margin-top: 43%;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

#serverPwButton: hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}


#serverPassword {
	height: 16%;
	width: 50%;
 	position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

#labelServerPw {
	position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	font-size: 20px;
	margin-top: 10%;
  }
  
.loginPW{
	background: #eee;
	width: 60%;
	height: 70%;
	font: 18px Arial;
	font-color: black;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
	border-radius: 9px;
	display: none;
	outline: none;
}

#loginLabel {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 20px;
}

#signUpLabel {
	position: absolute;
	top: 10%;
	left: 45%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 20px;
	}
#username {
	height: 9%;
	width: 50%;
 	position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;  
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;	
	outline: none;
}

#usernameSignUp {
	height: 9%;
	width: 50%;
 	position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;  
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;	
	outline: none;
	margin-top: 5%;
}


#password{
	height: 9%;
	width: 50%;
 	position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

#passwordSignUp{
	height: 9%;
	width: 50%;
 	position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	margin-top: 0.5%;
}

#passwordVerification{
	height: 9%;
	width: 50%;
 	position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 400px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

#login {
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    margin-top: 78%;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

#login:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}

#signUp {
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	margin-top: 85%;
}

#signUp:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}

#signUpLink{
	 background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #444; 
     cursor: pointer;
	 position: absolute;
     top: auto;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     width: 50%;
     margin-top: 100%;
	 outline: none;
}


#credUnvalidError {
	position: absolute;
    top: 90%;
    left: 67%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
	display: none;
}

#accountError {
	position: absolute;
    top: 72%;
    left: 67%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
	display: none;
}

#serverWrongPWD {
	position: absolute;
    top: 64%;
    left: 67%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
	font: 15px Arial; 
	color: red; 
	margin-top: 5px; 
	display: none;
}

.box {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	float: left;
	display: none;
}

.box input {
	border: 0;
	padding: 10px;
	display: none;
}

.sideDiv {
	background: #C6C6C6;
	border-left: 3px solid;
	padding: 5px;
	font: 25px impact, sans-serif;
	float: right;
	width: 17.4%;
	height: 95%;
	margin-left: 6px;
	margin-right: 3px;
	position: fixed;
	right: 0;
	display: none;
}

#onlineUser {
	overflow-y: auto;
	background-color: #eee;
	padding: 10px;
	font: 15px arial;
	width: 100%;
	height: 250px;
	margin-top: 8px;
	margin-bottom: 30px;
	border: 1px solid #000;
}

#messages {
	overflow: auto;
	width: 84%
}
#message {
	width: 82.5%;
	float: left;
}
#send {
	height: 35px;
	width: 17.3%;
	background: #2EBFB5;
	float: right;
}

#upload {
	font: 15px Arial;
	position: fixed;
	bottom: 6.7%;
	width: 17.67%;
	height: 5.7%;
	background-color: #2EBFB5;
	text-align: center;
	float: right;
	right: 0;
	border-left: 3px solid;
	border-top: 3px solid;
	border-right: 3px solid;
	display: none;
}

#upload:hover {
	background-color: #eee;
}

#uploadLabel {
	font: 13px Arial;
	position: fixed;
	margin-top: 0.5%;
	margin-left: 5.9%;
	width: 150x;
	heigth: 20px;
}

#messagesDiv {
	overflow: auto;
	top: 0;
	margin-bottom: 6%;
	display: none;
}
#messages li {
	padding: 5px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

.signUpDiv{
	background: #eee;
	width: 80%;
	height: 90%;
	font: 18px Arial;
	font-color: black;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 600px;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
	border-radius: 9px;
	display: none;
	outline: none;
}

.uploadAvatarDiv {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 20%;
	left: 24%;
	border-style: solid;
	border-width: 2px;
	display: none;
	max-height: 120px;
	max-width: 120px;
}

.chatAvatar{
	width: 120px;
	height: 120px;
	position: absolute;
	top: 20%;
	left: 14%;
	border-style: solid;
	border-width: 2px;
	display: none;
	max-height: 120px;
	max-width: 120px;
}

#mediaAvatar{
	position: fixed;
	top: 20%;
	left: 46%;
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	width:26%
}

#mediaAvatar:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}

#takePicture{
	position: fixed;
	top: 28%;
	left: 46%;
	width: 28%;
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}
#takePicture:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}

#uploadLabelAvatar{
font: 13px Arial;
position: fixed;
	top: 14%;
	left: 40%;
}

.uploadAvatar{
	position: fixed;
	top: 16%;
	left: 45%;
	display: none;
}

.takePictureDiv{
	background: #eee;
	width: 40%;
	height: 90%;
	font: 18px Arial;
	font-color: black;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
	border-radius: 9px;
	display: none;
	outline: none;
	max-width: 2000px;
	padding: 20px;
}

#savePicture{
	top: 50%;
	left: 50%;
	width: 50%;
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

#savePicture:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}


#backtoSignUpId{
	top: 51%;
	left: 50%;
	width: 50%;
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44b395), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #44b395 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #44b395 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b395', endColorstr='#6c7c7c',GradientType=0);
	background-color: #44b395;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b8a7c;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

#backtoSignUpId:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #44b395));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #44b395 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #44b395 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#44b395',GradientType=0);
	background-color: #6c7c7c;
}


#capture{
	 background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
     transform: translateX(-50%) translateY(-50%);
     width: 50%;
	 outline: none;
	 top: 50%;
	 left: 50%;
	 width: 40%;
}

#canvas, #video{
border: 3px solid;
}

#captureLabel{

}

#signUpError{
display: none;
position: absolute;
top:90%;
}

#signUpPWDError{
display: none;
position: absolute;
top:90%;
}
